.card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card > img {
  width: 100%;
  height: 300px;
}

.card p {
  margin: 0 10px;
}

.title {
  font-size: 28px;
}
