.nav{
    background-image: linear-gradient(to right, #672280, #A626D3);
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: white;
    height: 65px;  
    padding: 0 30px;
}
.left {
    display: flex;
    align-items: center;
    gap: 30px;
}
.left img {
    width: 31px;
}
.nav h3{
    font-size: 20px;
    font-weight: bold;
}
.nav .right {
    font-weight: 500;
    font-size: 14px;
}