*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol{
  margin: 10px;
}

ol li {
  font-size: 20px;
  margin: 20px;
}

nav img {
  width: 60px;
  aspect-ratio: 1;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.navList {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.navList li {
  cursor: pointer;
}