.slikaKontejner{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tekstIznadSlike{
    font-size: 1.5rem;
    color: white;
    z-index: 3;
    letter-spacing: 3px;
    margin: 20px 0;
}
.pitanje{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    width: calc(100% - 2rem);
    height: calc(40vh - 40px - 1.2rem);
    margin-right: 1rem;
    margin-left: 1rem;
}
.pitanje img{
    width: 100%;
    height: 100%;
    filter: blur(2px);
}
.pitanje p{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100% !important;
    background-color:rgba(0, 0, 0, .4);
    font-size: 1rem;
    color:white;
    z-index: 2;
    line-height: 2rem;
    font-size: 2rem;
    margin: 1rem;
    overflow-y: auto;
    padding: 1rem;
    letter-spacing: 2px;
    justify-content:center;
    align-items: center;
}
.linija{
    position: absolute;
    left: 0;
    height: 3px;
    margin-top: 5px;
    bottom: 0;
    z-index: 3;
}
.brojPitanja{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 0;
}
.brojPitanja span{
    color:white ;
    font-size: 1.1rem;
    margin: 0 5px;
}