.memeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 60px;
}

.memeForm{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.inputs{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 30px;
}
.inputs input {
    flex: 1;
    border: 1px solid #c4c4c8;
    height: 35px;
    line-height: 35px;
    font-size: 14px ;
    outline: 0;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
}

.memeForm button, button:focus{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(to right, #672280, #A626D3);
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border:0;
    outline: 0;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
}
.meme {
    width: 80%;
    margin-top: 30px;
    border: 1px solid #c4c4c8;
    position: relative;
}
.meme img{
    width: 100%;
}
.meme > div {
    position: absolute;
    left: 10%;
    width: 80%;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 3px  black;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    text-align: center;
}
.topText {
    top: 5%;
}
.bottomText {
    bottom: 5%;
}