.checkbox{
    border: 0;
    outline: none;
    color: white;
    appearance: none;
    background-color: rgb(221, 0, 0);
}
.primary{
    background-color: #00bcd4;
}
.success{
    background-color: #4caf50;
}
.danger:checked{
    background-color: #f44336;
}
.warning{
    background-color: #ff9800;
}
.dark {
    background-color: #212121;
}
.light {
    background-color: #e0e0e0;
}
.info{
    background-color: #2196f3;
}
.xsradius{
    border-radius: 3px;
}
.smradius{
    border-radius: 5px;
}
.mdradius{
    border-radius: 10px;
}
.lgradius{
    border-radius: 15px;
}
.xlradius{
    border-radius: 20px;
}
.xs{
    width: 5px;
    height: 5px;
}
.sm{
    width: 10px;
    height: 10px;
}
.md{
    width: 15px;
    height: 15px;
}
.lg{
    width: 20px;
    height: 20px;  
}
.xl{
    width: 25px;
    height: 25px;
}