.textInput {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(38, 23, 23);
  border: 2px solid gray;
  border-radius: 5px;
}

.container {
  position: relative;
  margin: 20px 0;
}

.label {
  position: absolute;
  top: -20px;
  left: 5px;
  margin: 0;
}
