:root{
    --logo: 60px;
}

*, *::after, *::before{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #222, #333);
}



#linija{
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: 5px;
    bottom: 0;
    z-index: 3;
}
#broj-pitanja{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 0;
}
#broj-pitanja span{
    color:white ;
    font-size: 1.1rem;
    margin: 0 5px;
}



.prikazi{
    animation-name: animacija;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes animacija {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}